/* .main_card .text_live {
    opacity: 0;
    transform: translate3d(0, 15px, -135px);
    transition: .6s transform cubic-bezier(.165,.84,.44,1), .6s opacity cubic-bezier(.165,.84,.44,1)
}
.main_card:hover .text_live {
    opacity: 1;
    transform: translate3d(0, 0, -135px);
    transition: .6s transform cubic-bezier(.165,.84,.44,1), .6s opacity cubic-bezier(.165,.84,.44,1)
}
.main_card .text_group {
    opacity: 0;
    transform: translate3d(0, -16px, -135px);
    transition: .6s transform cubic-bezier(.165,.84,.44,1), .6s opacity cubic-bezier(.165,.84,.44,1)
}
.main_card:hover .text_group {
    opacity: 1;
    transform: translate3d(0, 0, -135px);
    transition: .6s transform cubic-bezier(.165,.84,.44,1), .6s opacity cubic-bezier(.165,.84,.44,1)
} */