@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.cursor {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
/* .mobile_menus{
  display: none;
} */
@media (max-width: 767.98px) {
  .nav_menus{
      display: none;
  }
  .mobile_menus{
      display: block;
  }
  .footer_sm{
      padding: 0 1rem;
      text-align: center;
      flex-direction: column;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}