@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: rgb(193, 11, 111);
}

html.dark {
  --cursor-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  --bg-color: white;
  background-color: var(--bg-color);
  color: #000;
}
body.dark {
  --bg-color: #0f172a;
  background-color: var(--bg-color);
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.mask{
  position: absolute;
  mask-image: url('../../public/mask.svg');
  background: #ff6b00;
  mask-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}
.main_btn {
  padding: 20px 0;
  padding-left: 32px;
  display: inline-flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-weight: 600;
}
.main_btn::before {
  content: "";
  position: absolute;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #ff6b00;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  transition: all 0.6s ease-in-out;
  z-index: -111;
}
.main_btn:hover::before {
  height: 36px;
  width: 36px;
  left: 100%;
  margin-left: -28px;
}
@media (max-width: 767.98px) {
  .nav_menus {
    display: none;
  }
  .mobile_menus {
    display: block;
  }
  .footer_sm {
    padding: 0 1rem;
    text-align: center;
    flex-direction: column;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
